In [34]:
import pandas as pd
df=pd.read_csv("Employee.csv")

In [35]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Departments,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   Departments            14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [37]:
df.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
Departments              0
salary                   0
dtype: int64

In [38]:
df.notnull().sum()

satisfaction_level       14999
last_evaluation          14999
number_project           14999
average_montly_hours     14999
time_spend_company       14999
Work_accident            14999
left                     14999
promotion_last_5years    14999
Departments              14999
salary                   14999
dtype: int64

In [39]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["salary"]=le.fit_transform(df["salary"])

In [40]:
df['left'].value_counts()

0    11428
1     3571
Name: left, dtype: int64

In [41]:
x=df[["satisfaction_level","last_evaluation","number_project","average_montly_hours","time_spend_company","Work_accident","promotion_last_5years","salary"]]
x.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,salary
0,0.38,0.53,2,157,3,0,0,1
1,0.80,0.86,5,262,6,0,0,2
2,0.11,0.88,7,272,4,0,0,2
3,0.72,0.87,5,223,5,0,0,1
4,0.37,0.52,2,159,3,0,0,1

In [42]:
y=df["left"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: left, dtype: int64

In [43]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [44]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier(criterion="entropy")
dt.fit(x_train,y_train)
y_pred=dt.predict(x_test)
print("Name: B Surya Prakash")
print("Reg No: 212224230281")

y_pred

Name: B Surya Prakash
Reg No: 212224230281

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [47]:
from sklearn import metrics
accuracy=metrics.accuracy_score(y_test,y_pred)
print("Name: B Surya Prakash")
print("Reg No: 212224230281")
accuracy

Name: B Surya Prakash
Reg No: 212224230281

0.9746666666666667

In [61]:
print("Name: B Surya Prakash")
print("Reg No: 212224230281")
confusion_matrix=metrics.confusion_matrix(y_test,y_pred)
confusion_matrix

Name: B Surya Prakash
Reg No: 212224230281

array([[2246,   48],
       [  28,  678]], dtype=int64)

In [58]:
Classification_report=metrics.classification_report(y_test,y_pred)
print("Name: B Surya Prakash")
print("Reg No: 212224230281")
print(Classification_report)

Name: B Surya Prakash
Reg No: 212224230281
              precision    recall  f1-score   support

           0       0.99      0.98      0.98      2294
           1       0.93      0.96      0.95       706

    accuracy                           0.97      3000
   macro avg       0.96      0.97      0.97      3000
weighted avg       0.98      0.97      0.97      3000

In [62]:
print("Name: B Surya Prakash")
print("Reg No: 212224230281")
dt.predict([[0.5,0.8,9,260,6,8,1,2]])

Name: B Surya Prakash
Reg No: 212224230281

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)